.AsideMenu{
    display: flex;
    flex: row;
    color: white;
    padding: 0;
    margin: 0 220px 0 0;
}

.AsideContainer{
    display: flex;
    background-color: #7f529a;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    position: fixed;
    color: white;
    padding: 0;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
    width: 40pt;
    height: 100%;
    margin: 0;
    white-space: nowrap;
    z-index: 10;
}
.AsideContainer tr{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: auto 10px;
}
.AsideContainer tr:hover{
    background-color: white;
    color: #7f529a;
}
.AsideContainer td:hover{
    color: #7f529a;
}
.AsideContainer td i:hover{
    color: #7f529a;
}


.AsideContainer-aberto{
    width: 200px !important;
}

.AsideContainer table{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8em 0 0 0;
    margin: 0;
    height: 100%;
}
.AsideContainer table i{
    position: relative;
    top: 5px;
    font-size: 20px;
    padding: 20px 14px;
}
.AsideContainer td {
    cursor: pointer;
    width: 100%;
}
.AsideContainer .legend{
    padding: 0 30px 0 0px;
}
.AsideContainer .desmarcado a{
    color: white;
}
.AsideContainer .desmarcado i{
    color: white;
}
.AsideContainer .marcado{
    background-color: rgb(255, 255, 255);
    color: #7f529a;
    margin: 0;
    padding: 0;
}

.marcado td{
    color: #7f529a;
}
.AsideContainer .marcado td i{
    color: #7f529a;
}

.projetos {
    color: #7f529a;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.dropdownProjetos {
    position: relative;
    display: flex;
    margin: 0;
    z-index: 20;
}

.dropdownProjContent {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
}
  
.dropdownProjContent span {
    color: #7f529a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer
  }
  
.dropdownProjContent span:hover {background-color: #f1f1f1}
  
.dropdownProjetos:hover .dropdownProjContent {
    display: block;
}
  
.dropdownProjetos:hover .projetos {
    background-color: none;
    
}
 
