.app-dialog {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 350px;
}

.app-dialog > h2 {
  color: #7f529a;
  font-size: 18px;
  padding: 0;
  text-align: initial;
}

.app-dialog > p {
  color: #333333;
  text-align: initial;
  margin: 10px 0;
}

.app-dialog .actions-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.actions-container .actino-btn{
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 50pt;
  border: 1px solid transparent;
  padding: 10px 25px;
  margin: 0;
  font-family: 'Nunito Sans Regular';
  cursor: pointer;
}
.actions-container .actino-btn + .actino-btn {
  margin-left: 5px;
}

.actions-container .actino-btn.success {
  background: #3CB080;
  color: white;
}
.actions-container .actino-btn.cancel {
  background: #fff;
  color: #7f529a;
  border-color: #7f529a;
}

.Toastify__toast-container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.Toastify__toast-container .Toastify__toast--success {
  background-color: #3CB080;
}
.Toastify__toast-container .Toastify__toast--error {
  background-color: #E54348;
}
.Toastify__toast-container .Toastify__toast-body {
  width: 100%;
}

.message-dialog {
  /* height: 200px; */
  width: 100%;
  /* height: 170px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message-dialog.success {
  color: #fff;
}
.message-dialog > img {
  height: 120px;
  margin-bottom: 10px;
}