footer{
    background-color: #7F529A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Nunito Sans Regular';
    padding: 12px 6em;
    color: white;
}

footer i{
    font-size: 15pt;
    margin: auto 5pt;
    position: relative;
    top: 4px;
}

footer img{
    width: 5%;
    margin: auto 15pt;
}
footer p{
    margin: auto 8em;
}

footer a{
    color: white;
    cursor: pointer;
}