.bodyContainer{
    padding-top: 6em;
}
.BotaoAmarelo{
    border: none;
    background-color:#FFC927;
    font-family: 'Nunito Sans Regular';
    box-shadow: 2px 4px 4px 1px rgba(122, 122, 122, 0.2);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50pt;
}

.bodyContainer h2{
    font-size: 24px;
    font-family: 'Source Sans SemiBold';
    
}

.bodyContainer p{
    font-family: 'Nunito Sans Regular';
    font-size: 14px;
   
   
}
.bodyContainer section{
    display: flex;
    padding: 4em 14%;
}

.apresentacao{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apresentacao .texto1{
    text-align: left;
}
.apresentacao .imagem{
    margin: 0;
    padding: 0;
}
.apresentacao .imagem img{
    width: 300pt;
}

.apresentacao p{
    padding-right: 12em;
}

.apresentacao h2{
    padding-right: 8em;
    color: #7F529A;
}
.competencias{
    background-color: #7F529A;
    justify-content: center;
    align-items: center;
    color: white;
  
}
.competencias .texto2{
    text-align: left;
    margin: 0;
}
.competencias .texto2 p{
    padding-left: 60px;
}
.competencias .texto2 h2{
    padding-left: 60px;
    padding-right: 60px;
}
.funcionalidades .texto3{
    display: flex;
    justify-content: center;
}
.funcionalidades .texto3  div{
    margin: 5px;
    width: 25%;
}

.funcionalidades{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    
}
.funcionalidades h2{
    color: #7F529A;
    padding: 0 0 35px 0;
    text-align: center;
}

.funcionalidades img{
    width: 120px;
}
.funcionalidades h3{
    color: #7F529A;
    margin:10px 0;
    font-family: 'Source Sans SemiBold';
}

.funcionalidades p{
    font-size: 0.8em;
}

