nav{
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}
.fullNav{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: auto 0;
  align-items: center;
}

.navMain {
    list-style:none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navMain li{
    cursor: pointer;
    font-size: 12pt;
    font-family: 'Nunito Sans Regular';
    margin: 0 20px;
    padding: 10pt;
    color: #7f529a;
}

.navMain li a:hover{
  color:#A580BC;

}
.navMain li a:active{
  
  color: #D6A000;
  ;

}
.logoNav1{
  width: 5%;
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.perfil button{
    background: none;
    padding: 0px 20px;
    border: none;
    font-size: 15pt;
    font-family: 'Nunito Sans Regular';
    cursor: pointer;
    outline: none;
  }
  /* .perfil{
    display: flex;
    background-color: rgb(233, 232, 232);
    border-radius: 50pt;
    padding: 8pt 6pt;
    margin-left: 15pt;
  } */
  .perfil{
    display: flex;
    background-color: #7f529a;
    border-radius: 5pt;
    padding: 8pt;
    margin-left: 15pt;
  }
  .perfil:hover{
    background-color: #633F78;
  }
  .perfil .login{
    font-size: 12pt;
    color: white;
  }
.login a{
  color: white;
  text-decoration: none;
}

