nav {
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    padding:20px 15px; 
    margin: 0;
    font-size: 15pt;
  
  }
 nav form{
    padding: 0;
    margin: 0;
    display: flex;
  }
 nav form button{
    display: flex;
    outline: none;
    background-color: #EEEEEE;
    margin: 0;
    border:none;
    border-radius: 0 50pt 50pt 0;
    padding: 10pt;
    font-size: 15pt;
    cursor: pointer;
  }
  .busca{
    display: flex;
    justify-content: left;
    margin: 0;
    flex-grow: 1;
  }
  form input{
    display: flex;
    outline: none;
    border: none;
    background-color: #EEEEEE;
    color: black;
    border-radius: 50pt 0 0 50pt;
    font-family: 'Nunito Sans Regular';
    padding: 10pt 20pt;
    font-size: 10pt;
    margin-left: 14em;
    width: 300pt;
  }
  .logoNav{
    width: 25%;
    display: flex;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .perfilUser{
    display: flex;
    justify-content: right;
    padding-right: 35px;
    align-items: center;
  }
  .perfilLogado{
    background-color:#d3d3d3; 
    padding: 8pt 7pt;
    border-radius: 50pt;
    margin-left: 10pt;
  }
  .perfilLogado button{
    border: none;
    background: none;
    font-size: 15pt;
  }
  .burgerMenu{
      cursor: pointer;
      color: #7F529A;
      margin-right: 10px;
  }
  .sectionLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  