.containerProfile{
    display: flex;
    flex-direction: row;
  }
  .containerProfile section{
    z-index: 1; 
  }
  .menuLateral:hover{
    width: 220px;
  }

  .menuLateral{ 
    display: flex;
    background-color: #7f529a;
    align-items: center;
    text-align: left;
    color: white;
    padding: 4em 0 100% 0;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
    width: 40pt;
    margin: 0;
  }.menuLateral ul{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 12pt;
    height: 800pt;
    margin: 0;
    list-style: none;
    align-items: center;
    font-size: 12pt;
    cursor: pointer;
  }
  .menuLateral li{
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans Regular';
    padding: 6px 15px;
    cursor: pointer;
  
  }
  .menuLateral a{
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white; 
  }
  .menuLateral i{
    font-size: 22px;
    margin: 0 12pt 0 0;
    cursor: pointer;
    position: relative;
    top: 3pt;
  }
 
  .marcado a{
    cursor: pointer;
    color: #7F529A;
  }
  .desmarcado {
    background: none;
    padding: 0;
    margin: 0;
    color: white;
    cursor: pointer;
  }
  .desmarcado:hover{
    background-color: white;
    cursor: pointer;
    color: #7F529A;
  }
  .desmarcado a:hover{
    color: #7F529A;
  }