

.MainServicos{
    display: flex;
    padding: 5em 0 0 0 ;
}
 
.Submenu{
    width: 20%;
} 

.ContainerServicos{
    padding: 4em 3em;
    width: 80%;
    text-align: left;
}

.topContainer h2{
    color: #7f529a;
}
.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10pt 6pt 10pt;
    border-bottom: 1px solid rgb(150, 150, 150);
    margin: 0;
    
}

.topContainer button{
    display: flex;
    align-items: center;
    border: none;
    background:#7f529a;
    color: white;
    padding: 6pt 12pt;
    border-radius: 50pt;
    font-size: 11pt;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
}
.topContainer button a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: white;
}
.topContainer button i{
    position: relative;
    padding: 0;
    margin: 0;
    top: 3pt;
    font-size: 16pt;
    color: white;
}
.mainContainer{
    padding: 0;
    margin: 0;
}
.listaServicos {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    padding: 1em 0;
    margin: 0;
}

.listaServicos li{
    background: white;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    width: 18%;
    padding: 2em;
    border-radius: 5pt;
    font-size: 10pt;
    margin: 5pt;
}

.listaServicos h3{
    color: #7f529a;
    font-size: 13pt;
    margin: 0;
}

.listaServicos label{
    border-radius: 50pt;
    background: #EEEEEE;
    margin-top: 10pt;
    margin-right:5pt;
    padding: 5pt 10pt;
}

.listaServicos p{
    padding: 0;
}